/* Global */
:root {
  --color-white: #fff;
  --color-green: lightgreen;
  --color-red: #bb342f;
  --bg-black: #181818;
  --bg-gray: #313234;
  --btn-color: #1ec5e6;

}

::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-white);
  background: #949494
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-bottom: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
}

i {
  display: block;
}

/* Local */

/* Cart */
.prod-cart {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(30, 197, 230, 0.9);
}

.prod-cart-icon {
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 26px;
  color: var(--bg-black);
}

.prod-cart-icon i {
  padding: 0 20px;
  cursor: pointer;
}

/* Cart modal */
/* .btn-cart-modal {
  margin-top: 64px;
}

.modal-dialog {
  margin: 0;
  margin-left: auto;
} */

.cart-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 3;
  opacity: 0;
  transition: all 0.3s ease;
}

.cart-contents {
  position: absolute;
  width: 70%;
  height: 100%;
  right: -100%;
  background-color: var(--bg-black);
  opacity: 0.5;
  z-index: 4;
  transition: all 0.3s ease;
}

.active {
  right: 0;
  opacity: 1;
}

.cart-header h3 {
  line-height: 64px;
  text-align: center;
}

.cart-close {
  position: absolute;
  top: 6px;
  right: 10px;
  padding: 10px;
  font-size: 26px;
  line-height: 1;
  cursor: pointer;
}

.cart-body {
  padding: 30px;
}

/* pods list */
.prods {
  margin-top: 64px;
}

.prod-item {
  padding-top: 20px;
}

.prod-top {
  padding: 10px 20px;
  border-radius: 14px 14px 0 0;
  overflow: hidden;
  background-color: var(--bg-black);
}

.prod-img img {
  height: 250px;
  object-fit: contain;
}

.prod-top-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-top-icon {
  font-size: 22px;
}

.prod-img {
  overflow: hidden;
  transition: all 0.3s ease;
}

.prod-img:hover {
  transform: scale(1.2);
}

.prod-bottom {
  padding: 20px;
  border-radius: 0 0 14px 14px;
  overflow: hidden;
  background-color: var(--bg-gray);
}

.prod-name {
  color: var(--color-green);
  font-size: 20px;
}

.prod-desc {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.prod-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.prod-price-text {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-red);
}

.btn-prod-price {
  border-radius: 4px;
  padding: 0.4em 1em;
  border: transparent;
  color: var(--color-white);
  background-color: var(--btn-color);
  transition: all 0.2s ease-in;
}

.btn-prod-price:hover {
  background-color: #207d90;
}